
.navbar{
    position: sticky;
    top: 0;
}
button{
    border: none;
    transform: scale(.8);
    padding: 5px;
    border-radius: 50%;
    background: transparent;
  }
  .darkMode svg{
    fill: black;
  }
  .lightMode svg{
    fill: whitesmoke;
  }